<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Github test suite" parallel="none">
    <test name="HT3">
        <classes>
            <class name="com.epam.ht3.GitHubAutomationTest">
                <methods>
                    <include name="oneCanLoginGithub" />
                    <include name="oneCanCreateProject" />
                    <include name="deleteRepository" />
                </methods>
            </class>
        </classes>
    </test>
</suite>